<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskorganizer</title>
    <link rel="stylesheet" href="/styles/account.css" />
  </head>
  <body>
    <div class="container">
      <div class="header-container">
        <h2>Hello, Andrei</h2>
        <img src="images/avatar.png" alt="avatar" class="right-aligned-image" />
      </div>
      <p>Let's make this day productive.</p>
    </div>
    <section class="mytask-section">
      <div class="task-container">
        <h2>My Task</h2>
      </div>
    </section>
    <section class="todaytask-section">
      <div class="task-container">
        <h2>Today's task</h2>
        <p>View all</p>
      </div>
      <div class="task">
        <div class="task-details">
          <p class="task-title">Cleaning clothes</p>
          <p class="task-time">07:00 - 07:15</p>
        </div>
      </div>
      <div class="task">
        <div class="task-details">
          <p class="task-title">Wash dishes</p>
          <p class="task-time">07:30 - 08:00</p>
        </div>
      </div>
    </section>
  </body>
</html>
