<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canceled</title>
    <link rel="stylesheet" href="/styles/canceled.css" />
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css" />
  </head>
  <body>
    <section class="container">
      <div class="centered-container">
        <a href="/account" class="back-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M15.5 19C15.5 19 8.5 14.856 8.5 12C8.5 9.145 15.5 5 15.5 5"
              stroke="#10275A"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <p class="centered-text">Canceled Tasks</p>
      </div>
    </section>
    <section class="search-container">
      <div class="search-bar">
        <div class="search-input">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.39621 2.26196C13.3359 2.26196 16.5303 5.45561 16.5303 9.39609C16.5303 13.3366 13.3359 16.5302 9.39621 16.5302C5.45574 16.5302 2.26208 13.3366 2.26208 9.39609C2.26208 5.45561 5.45574 2.26196 9.39621 2.26196Z"
              stroke="#BEC4D0"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.5824 15.4065C17.2316 15.4065 17.7578 15.9335 17.7578 16.5819C17.7578 17.2319 17.2316 17.7581 16.5824 17.7581C15.9332 17.7581 15.4062 17.2319 15.4062 16.5819C15.4062 15.9335 15.9332 15.4065 16.5824 15.4065Z"
              stroke="#BEC4D0"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <form>
            <input
              type="text"
              id="search"
              name="search"
              placeholder="Search for task"
            />
          </form>
        </div>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.11313 1.33276H10.8931C13.1531 1.33276 14.6665 2.91943 14.6665 5.27943V10.7268C14.6665 13.0801 13.1531 14.6661 10.8931 14.6661H5.11313C2.85313 14.6661 1.33313 13.0801 1.33313 10.7268V5.27943C1.33313 2.91943 2.85313 1.33276 5.11313 1.33276ZM10.0065 9.99942C10.2331 9.77342 10.2331 9.40676 10.0065 9.18009L8.81979 7.99342L10.0065 6.80609C10.2331 6.58009 10.2331 6.20676 10.0065 5.98009C9.77979 5.75276 9.41313 5.75276 9.17979 5.98009L7.99979 7.16609L6.81313 5.98009C6.57979 5.75276 6.21313 5.75276 5.98646 5.98009C5.75979 6.20676 5.75979 6.58009 5.98646 6.80609L7.17313 7.99342L5.98646 9.17342C5.75979 9.40676 5.75979 9.77342 5.98646 9.99942C6.09979 10.1128 6.25313 10.1734 6.39979 10.1734C6.55313 10.1734 6.69979 10.1128 6.81313 9.99942L7.99979 8.82009L9.18646 9.99942C9.29979 10.1201 9.44646 10.1734 9.59313 10.1734C9.74646 10.1734 9.89313 10.1128 10.0065 9.99942Z"
            fill="#BEC4D0"
          />
        </svg>
      </div>
      <div class="settings">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M11.1437 17.8829H4.67114"
            stroke="#BEC4D0"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.205 17.8839C15.205 19.9257 15.8859 20.6057 17.9267 20.6057C19.9676 20.6057 20.6485 19.9257 20.6485 17.8839C20.6485 15.8421 19.9676 15.1621 17.9267 15.1621C15.8859 15.1621 15.205 15.8421 15.205 17.8839Z"
            stroke="#BEC4D0"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.1765 7.39439H20.6481"
            stroke="#BEC4D0"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.1153 7.39293C10.1153 5.35204 9.43436 4.67114 7.39346 4.67114C5.35167 4.67114 4.67078 5.35204 4.67078 7.39293C4.67078 9.43472 5.35167 10.1147 7.39346 10.1147C9.43436 10.1147 10.1153 9.43472 10.1153 7.39293Z"
            stroke="#BEC4D0"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </section>
    <section class="tasks-section">
      <% if (tasks.length > 0) { %> <% tasks.forEach(task => { %>
      <div class="task">
        <div class="task-details">
          <div class="task-title">
            <p>
              <%= task.title %>
              <i class="bi bi-bookmark-x" id="canceled-icon"></i>
            </p>

            <div class="dropdown">
              <i class="bi bi-three-dots-vertical dropdown-icon"></i>
              <div class="menu">
                <ul>
                  <li>
                    <a href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12.0002 2.75012C5.06324 2.75012 2.75024 5.06312 2.75024 12.0001C2.75024 18.9371 5.06324 21.2501 12.0002 21.2501C18.9372 21.2501 21.2502 18.9371 21.2502 12.0001"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M19.5285 4.30388V4.30388C18.5355 3.42488 17.0185 3.51688 16.1395 4.50988C16.1395 4.50988 11.7705 9.44488 10.2555 11.1579C8.73853 12.8699 9.85053 15.2349 9.85053 15.2349C9.85053 15.2349 12.3545 16.0279 13.8485 14.3399C15.3435 12.6519 19.7345 7.69288 19.7345 7.69288C20.6135 6.69988 20.5205 5.18288 19.5285 4.30388Z"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M15.009 5.80078L18.604 8.98378"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Edit</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12.1207 2.209V14.25"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M9.20471 5.13574L12.1207 2.20774L15.0367 5.13574"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.62988 7.64026C4.04988 7.97026 2.74988 9.31026 2.74988 14.6403C2.74988 21.7413 5.05988 21.7413 11.9999 21.7413C18.9399 21.7413 21.2499 21.7413 21.2499 14.6403C21.2499 9.31026 19.9499 7.97026 16.3699 7.64026"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Restore</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M18.8892 9.5542C18.8892 17.5732 20.0435 21.198 12.2797 21.198C4.5149 21.198 5.693 17.5732 5.693 9.5542"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M20.3652 6.47985H4.21472"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M15.7149 6.47983C15.7149 6.47983 16.2435 2.71411 12.2892 2.71411C8.3359 2.71411 8.86447 6.47983 8.86447 6.47983"
                          stroke="#130F26"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                      >Delete</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="task-time">
            <%= task.date.toLocaleDateString('en-US', { year: 'numeric', month:
            'short', day: '2-digit' }) %>
          </p>
        </div>
        <div class="task-tags">
          <% task.tags.forEach(tag => { %>
          <p><%= tag %></p>
          <% }) %>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p class="no-tasks-p">You don't have any canceled tasks.</p>
      <% } %>
    </section>
    <script src="/js/completed.js"></script>
  </body>
</html>
