/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* HEADER CONTAINER */
.container {
  padding: 2rem 2rem 0 2rem;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 2rem 10rem 0 10rem;
  }
}

.container p {
  color: #575757;
  font-weight: 400;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > h2 {
  color: #12175e;
  font-weight: 600;
}

/* My tasks Section */
.mytask-section {
  padding: 2rem 2rem 0 2rem;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container h2 {
  color: #12175e;
  font-size: 1.5rem;
  font-weight: 600;
}

.task-container p {
  color: #393f93;
  font-size: 0.75rem;
  font-weight: 400;
}

/* My tasks grid */
.task-grid {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* Grid items */
.task-completed {
  position: relative;
  border-radius: 14px;
  background: linear-gradient(
    46deg,
    #7dc8e7 0%,
    rgba(125, 200, 231, 0.69) 100%
  );
  grid-row-start: 1;
  grid-row-end: 4;
}
.task-completed-details {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #12175e;
  font-size: 1rem;
  font-weight: 500;
}
.task-completed-icons {
  position: absolute;
  top: 10px;
  left: 125px;
  font-size: 1.5rem;
  color: #12175e;
}
a:-webkit-any-link {
  color: #12175e;
}
.task-pending {
  position: relative;
  border-radius: 14px;
  background: linear-gradient(
    61deg,
    #7d88e7 0%,
    rgba(125, 136, 231, 0.74) 100%
  );
  box-shadow: -3px 7px 13px 0px #f1f7ff;
  grid-row: 1 / 3;
}

.task-pending-details {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

#clock-icon {
  font-size: 1.5rem;
}

#pending-icon {
  color: white;
}
.task-ongoing {
  position: relative;
  border-radius: 14px;
  background: linear-gradient(
    46deg,
    #81e89e 0%,
    rgba(129, 232, 158, 0.35) 100%
  );
  grid-row-start: 3;
  grid-row-end: 6;
}
.task-canceled {
  position: relative;
  border-radius: 14px;
  background: linear-gradient(
    60deg,
    #e77d7d 0%,
    rgba(231, 125, 125, 0.71) 100%
  );
  grid-row-start: 4;
  grid-row-end: 6;
  box-shadow: -3px 7px 13px 0px #f1f7ff;
}

#canceled-icon {
  font-size: 1.5rem;
}
/* Today's task section */
.todaytask-section {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 100px;
}

.task {
  height: 120px;
  border-radius: 15px;
  background: #f9fafd;
  position: relative;
  margin-top: 15px;
}
.task-details {
  border-left-style: solid;
  border-width: 2px;
  border-color: #8f99eb;
  padding-left: 10px;
  margin-left: 15px;
  position: absolute;
  top: 15px;
  width: 90%;
}

.task-title {
  color: #2c406e;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task-title p {
  width: 100%;
}

.task-time {
  color: #9aa8c7;
  font-size: 0.875rem;
  font-weight: 400;
}

.task-tags {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  gap: 10px;
  margin-left: 25px;
}

.task-tags > p {
  border-radius: 3px;
  background: rgba(143, 153, 235, 0.2);
  padding: 5px;
  color: #8f99eb;
  font-size: 0.625rem;
  font-weight: 500;
}

.task-settings {
  text-align: right;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Choose the background color you prefer */
  color: #fff; /* Choose the text color you prefer */
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav i {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5b67ca;
}

/* MODAL */
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-centered-container p {
  color: #10275a;
  font-size: 18px;
  font-weight: 600;
}

.modal-centered-container svg {
  position: absolute;
  left: 10px;
}

#openModalBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

#closeModalBtn {
  cursor: pointer;
}

.form-item {
  width: 100%;
  margin-top: 1rem;
  position: relative;
}
.form-item > input {
  width: 100%;
  height: 40px;
  margin-top: 0.5rem;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #e8e9f3;
  color: #10275a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.form-item > input:focus {
  outline: none !important;
}

.form-item > input::placeholder {
  color: #e8e9f3;
}

.form-item > input[type="submit"] {
  border-radius: 14px;
  background: #5b67ca;
  box-shadow: -3px 7px 13px 0px #f1f7ff;
  color: #feffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form-item label {
  color: #8a8bb3;
  font-size: 14px;
  font-weight: 500;
}

.form-item > p {
  color: #8a8bb3;
  font-size: 14px;
  font-weight: 500;
}

.form-item svg {
  position: absolute;
  right: 0;
  top: 50px;
}

.form-tags {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.tag {
  padding: 4px 8px;
  margin: 4px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.tag-high {
  background-color: #ffefeb;
  color: #f0a58e;
}

.tag-medium {
  background-color: #eceaff;
  color: #8f81fe;
}

.tag-low {
  background-color: #daffda;
  color: #51ff3d;
}

.tag input[type="checkbox"] {
  display: none;
}

.bordered {
  border: 2px solid #5b67ca;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 2rem 10rem 0 10rem;
  }
  .mytask-section {
    padding: 2rem 10rem 0 10rem;
  }
  .todaytask-section {
    padding: 2rem 10rem 0 10rem;
  }
  .task-tags > p {
    font-size: 0.75rem;
  }
  .task-details {
    width: 95%;
  }
  .modal-content {
    max-width: 400px;
  }
}
