/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* HEADER CONTAINER */
.container {
  padding: 2rem 2rem 0 2rem;
}
.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.centered-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.back-icon {
  position: absolute;
  left: 0;
  top: 2px;
  color: black;
}

/* SEARCH CONTAINER */
.search-container {
  padding: 2rem 2rem 0 2rem;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.search-bar {
  grid-column: 1 / 5;
  background: #f6f6f6;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.search-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="text"] {
  border: none;
  background: none;
  color: #c8cdd9;
}
input[type="text"]::placeholder {
  color: #c8cdd9;
}
input[type="text"]:focus {
  outline: none !important;
}

.settings {
  border-radius: 15px;
  background: #f6f6f6;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

/* TASKS SECTION */
.tasks-section {
  padding: 1rem 2rem 0 2rem;
}
.task {
  height: 120px;
  border-radius: 15px;
  background: #f9fafd;
  position: relative;
  margin-bottom: 15px;
}
.task-details {
  border-left-style: solid;
  border-width: 2px;
  border-color: #8f99eb;
  padding-left: 10px;
  margin-left: 15px;
  position: absolute;
  top: 15px;
  width: 90%;
}

.task-title {
  color: #2c406e;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.task-title p {
  width: 100%;
}

.task-time {
  color: #9aa8c7;
  font-size: 0.875rem;
  font-weight: 400;
}

.task-tags {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  gap: 10px;
  margin-left: 25px;
}

.task-tags > p {
  border-radius: 3px;
  background: rgba(143, 153, 235, 0.2);
  padding: 5px;
  color: #8f99eb;
  font-size: 0.625rem;
  font-weight: 500;
}

.task-settings {
  text-align: right;
}

.no-tasks-p {
  color: #2c406e;
  font-weight: 500;
  text-align: center;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-icon {
  cursor: pointer;
}
.menu {
  position: absolute;
  display: none;
  right: 0;
  width: 140px;
  border-radius: 14px;
  background: #fff;
  box-shadow: -3px 7px 13px 0px #f1f7ff;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 5px 20px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.restore-icon {
  font-size: 1.125rem;
}

.active {
  display: block;
}

.complete-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

/* DELETE MODAL */
.delete-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.delete-modal-content {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.delete-modal-content p {
  color: #10275a;
  font-size: 18px;
  font-weight: 600;
}

.delete-button {
  border-radius: 14px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.delete-yes-button {
  background: #5b67ca;
  color: #feffff;
}

.delete-no-button {
  background: none;
  color: #5b67ca;
}

/* DISABLE MODAL */
.disable-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.disable-no-button,
.complete-no-button {
  background: none;
  color: #5b67ca;
}

/* COMPLETE MODAL */
.complete-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* EDIT MODAL */
.edit-modal {
  position: fixed;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-centered-container p {
  color: #10275a;
  font-size: 18px;
  font-weight: 600;
}

.modal-centered-container svg {
  position: absolute;
  left: 10px;
}

#openModalBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.editCloseBtn {
  cursor: pointer;
}

.form-item {
  width: 100%;
  margin-top: 1rem;
  position: relative;
}
.form-item > input {
  width: 100%;
  height: 40px;
  margin-top: 0.5rem;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #e8e9f3;
  color: #10275a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.form-item > input:focus {
  outline: none !important;
}

.form-item > input::placeholder {
  color: #e8e9f3;
}

.form-item > input[type="submit"] {
  border-radius: 14px;
  background: #5b67ca;
  box-shadow: -3px 7px 13px 0px #f1f7ff;
  color: #feffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form-item > label {
  color: #8a8bb3;
  font-size: 14px;
  font-weight: 500;
}

.form-item > p {
  color: #8a8bb3;
  font-size: 14px;
  font-weight: 500;
}

.form-item svg {
  position: absolute;
  right: 0;
  top: 50px;
}

.form-tags {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.tag {
  padding: 4px 8px;
  margin: 4px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.tag-high {
  background-color: #ffefeb;
  color: #f0a58e;
}

.tag-medium {
  background-color: #eceaff;
  color: #8f81fe;
}

.tag-low {
  background-color: #daffda;
  color: #51ff3d;
}

.tag input[type="checkbox"] {
  display: none;
}

.bordered {
  border: 2px solid #5b67ca;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 2rem 10rem 0 10rem;
  }
  .search-container {
    padding: 2rem 10rem 0 10rem;
  }
  .tasks-section {
    padding: 1rem 10rem 0 10rem;
  }
  .task-tags > p {
    font-size: 0.75rem;
  }
  .task-details {
    width: 95%;
  }
  .delete-modal-content {
    max-width: 400px;
  }
  .modal-content {
    max-width: 400px;
  }
}
